* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: start;
  /* padding-top: 100px; */
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: calc(100% - 60px);
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border: 2px solid #007bff;
}

button {
  padding: 10px 10px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  flex-shrink: 0;
}

button:hover {
  background: #0056b3;
}



ul {
  list-style: none;
  margin-top: 20px;
}

li {
  background: #f1f1f1;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s, color 0.3s;
}

li:hover {
  background: #e1e1e1;
}

.weather_wrap{
  min-height: 130px;
}

#todo-input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
}

#todo-list {
  list-style: none;
  padding: 0;
}

#todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.done {
  flex-shrink: 0;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.custom-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

.custom-checkbox .checkmark i {
  color: white;
}





.text {
  flex-grow: 1;
  margin: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  display: flex;
  flex-shrink: 0;
}

.modify-btn,
.delete-btn {
  margin-left: 5px;
}
